<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SSCCE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0CF61C41DA93A5D00840266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0CF61DD1DA93A6000840266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0CF61E81DA93A6100840266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
